<html>
<body>

<h2>Preview</h2>

<table style="width:100%">
  <tr>
    <th>Email ID</th>
    <th>Previous Uploaded Image</th> 

  </tr>
  <tr>
    <td><%= user%></td>
    <td><img src=<%= url%> alt="Image" height="150" width="150"></td>
  </tr>
</table>
</body>
</html>